set_prop(netmgrd, system_prop)
set_prop(netmgrd, net_radio_prop)

r_dir_file(netmgrd, sysfs)
r_dir_file(netmgrd, sysfs_pronto)
r_dir_file(netmgrd, sysfs_socinfo)
r_dir_file(netmgrd, sysfs_subsys)
