allow pd_mapper firmware_file:dir { open read };
allow pd_mapper firmware_file:file { open read };
allow pd_mapper self:capability { net_bind_service setgid setpcap setuid };
allow pd_mapper self:socket { bind create ioctl read write };