allow system_server system_app_data_file:dir r_dir_perms;

r_dir_file(system_server, sysfs_addrsetup)
r_dir_file(system_server, sysfs_pronto)
r_dir_file(system_server, sysfs_socinfo)
r_dir_file(system_server, sysfs_subsys)
